extends layout

block content
  h1= title
  p  #[em 地元の図書館]へようこそ！

  h1 動的コンテンツ

  p 図書館には以下の記録があります

  ul
    li #[strong 書籍:] !{book_count}
    li #[strong 冊数:] !{book_instance_count}
    li #[strong 貸し出し可能な書籍:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
